// ---------------------------------------------
// ======---------------------------------======
//  Page sections
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

.page-section {
	scroll-snap-align: start;

	height: var(--page-height);

	display: grid;
	grid-template-columns: var(--grid-cols);
	grid-template-rows: var(--grid-rows);

	background-color: var(--clr-neutral-900);

	color: var(--clr-neutral-100);

	h1,
	h2 {
		margin: 0;

		font-weight: 800;
		text-transform: uppercase;
	}

	h1 {
		font-size: var(--step-7);
		line-height: 0.8;
	}

	h2 {
		font-size: var(--step-6);
		line-height: 1;
	}

	.content {
		grid-column: 2;
		grid-row: 2;
		position: relative;
		z-index: 5;
	}

	.image {
		grid-column: 2;
		grid-row: 3;
		position: relative;
		z-index: 1;
	}

	&--dark {
		.page-header {
			svg {
				--icon-color-1: var(--clr-neutral-100);
			}
		}

		.page-footer {
			--footer-text-color: var(--clr-neutral-400);
		}

		.page-footer__buttons {
			.btn {
				--btn-bg: var(--clr-neutral-800);
				--btn-clr: var(--clr-neutral-100);
				--icon-color-1: var(--clr-neutral-100);
				--icon-color-2: var(--clr-neutral-100);
			}
		}
	}

	&--light {
		background-color: var(--clr-neutral-100);

		color: var(--clr-neutral-900);

		.page-header {
			svg {
				--icon-color-1: var(--clr-neutral-900);
			}
		}

		.page-footer {
			--footer-text-color: var(--clr-neutral-900);
		}

		.page-footer__buttons {
			.btn {
				--btn-bg: var(--clr-red-100);
				--btn-clr: var(--clr-neutral-900);
				--icon-color-1: var(--clr-red-900);
				--icon-color-2: var(--clr-off-white);
			}
		}
	}
}

.section-simple {
	@include tablet-max {
		--footer: var(--footer-height, auto);
		grid-template-rows: var(--header) 1fr var(--footer);
	}

	@include tablet-min {
		--grid-rows: 60px 1fr 1fr var(--footer);
	}

	.page-header {
		grid-column: 2;

		@include tablet-min {
			grid-row: 2;
			align-items: start;
			padding-block-start: 0;
		}
	}

	h1 {
		max-width: 7ch;
	}

	.content {
		grid-columns: 2;
		grid-row: 2;

		@include tablet-max {
			display: grid;
			align-items: center;
		}
	}

	.image {
		justify-self: center;
		display: grid;

		img {
			max-width: flClamp(40, 72);
		}
	}

	.page-footer {
		@include tablet-max {
			grid-row: 3;
			grid-template-rows: auto 1fr auto;

			.image {
				grid-column: 1;
				grid-row: 2;
			}

			p {
				grid-row: 3;
				margin-block-start: 0;
			}
		}

		@include tablet-min {
			.image {
				grid-column: initial;
				grid-row: initial;

				position: absolute;
				top: 0;
				right: calc(var(--page-wrapper-pad) * 2);
			}
		}
	}
}

.section-excellence {
	padding-bottom: 0;

	@include tablet-max {
		grid-template-rows: var(--header) auto 1fr auto;
	}

	.content {
	}

	.image {
		max-width: rem(450);
		align-self: end;
		justify-self: end;
		grid-column: 2;
		grid-row: 2 / 4;
		padding-block-end: 2rem;

		img {
			object-fit: contain;
		}
	}

	@include tablet-max {
		.content {
			grid-column: 2;
			grid-row: 2;
			align-self: center;
		}

		.image {
			--img-size: #{flClamp(150, 220, 375, 425)};
			display: grid;
			place-items: center;
			max-width: initial;
			max-height: var(--img-size);
			grid-column: 2;
			grid-row: 3;
			align-self: center;
			justify-self: initial;
			padding-block-end: 3rem;

			img {
				max-height: var(--img-size);
			}
		}
	}

	@media (max-height: 650px) {
		.image img {
			max-height: 130px;
		}
	}

	@include tablet-min {
		.image {
			max-width: flClamp(200, 450, 768, 1970);
		}
	}

	h2 {
		max-width: 5ch;
	}

	.list-inline {
		@media (max-height: 650px) {
			display: flex;
			flex-wrap: wrap;
			gap: 0.1rem 2rem;
		}

		@include desktop-min {
			display: flex;
			align-items: center;

			li {
				line-height: 1;
			}

			li + li {
				margin-inline-start: 0.5rem;
				padding-inline-start: 0.5rem;
				border-inline-start: 1px solid var(--clr-red-400);
			}
		}
	}
}

.section-reliable {
	align-items: start;

	@media (max-height: 650px) {
		grid-template-rows: var(--header) auto 1fr auto;
	}

	@include tablet-min {
		--grid-cols: var(--page-wrapper-pad) auto 1fr var(--page-wrapper-pad);
		--grid-rows: var(--header) auto 1fr auto;
	}

	.content {
		@include tablet-min {
			padding-block-start: flClamp(20, 40);
			grid-column: 3;
			grid-row: 2 / 4;
			text-align: right;
		}

		@include tablet-max {
			align-self: center;
		}

		h2 {
			max-width: 14ch;
		}
	}

	.image {
		height: 100%;

		@include tablet-max {
			grid-column: 2;
			grid-row: 3;
			display: grid;
			justify-content: center;
			padding-block-end: 2rem;
			align-self: center;

			img {
				max-height: flClamp(220, 356, 375, 425);
			}
		}

		@include tablet-min {
			grid-column: 2;
			grid-row: 2 / 4;

			img {
				max-width: flClamp(300, 460, 768, 1970);
				max-height: 100%;
				height: 100%;
				width: auto;
				object-fit: contain;

				margin-block-start: -12%;
			}
		}
	}

	.page-header {
		@include tablet-min {
			grid-column: 2 / 4;
		}
	}

	@media (max-height: 650px) {
		.image img {
			max-height: 160px;
		}
	}
}

.section-problems {
	@include tablet-max {
		grid-template-rows: var(--header) auto 1fr auto;
	}

	@include tablet-min {
		--grid-cols: var(--page-wrapper-pad) 1fr auto var(--page-wrapper-pad);
		grid-template-rows: var(--header) 1fr auto;
		align-items: center;
	}

	.content {
		@include tablet-max {
			align-self: center;
		}

		@include tablet-min {
			grid-column: 2;
			grid-row: 2;
		}

		h2 {
			max-width: 14ch;
		}
	}

	.image {
		max-width: 430px;

		@include tablet-min {
			grid-column: 3;
			grid-row: 2;
		}

		@include tablet-max {
			grid-column: 2;
			grid-row: 2 / 4;
			align-self: end;
			margin-inline: auto;
			display: grid;
			place-items: center;
			padding-block-end: 4rem;

			img {
				max-height: flClamp(220, 250, 375, 425);
			}
		}

		@media (max-height: 650px) {
			padding-block-end: 2rem;
			img {
				max-height: 150px;
			}
		}
	}

	.page-header {
		@include tablet-min {
			grid-column: 2 / 4;
		}
	}

	.page-footer {
		@include tablet-min {
			grid-row: 3;
		}
	}
}

.modal {
	width: 100%;
	display: flex;
	align-items: start;
	gap: 1rem;

	justify-self: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;

	padding-inline: var(--wrapper-fluid);

	opacity: 0;
	pointer-events: none;

	color: var(--clr-neutral-100);

	transition: opacity 0.2s ease-in;

	@include tablet-max {
		display: block;
	}

	> div {
		flex-grow: 1;
	}

	.close {
		max-width: rem(74);

		flex: 0 0 auto;

		padding: 0;
		border: 0;

		background: none;

		cursor: pointer;

		@include tablet-max {
			position: absolute;
			top: -35px;
			right: var(--page-wrapper-pad);

			svg {
				width: 35px;
				height: auto;
				object-fit: contain;
			}
		}
	}

	&.js-active {
		z-index: 1000;
		opacity: 1;
		pointer-events: initial;
	}
}

body:has(.modal.js-active) {
	.page-section {
		background-color: var(--clr-neutral-900);
		.content,
		.image {
			opacity: 0;
		}
	}

	.modal.js-active {
		// grid-column: 2/4;
		// grid-row: 2;
	}

	.page-header {
		svg {
			--icon-color-1: var(--clr-neutral-100);
		}
	}

	.page-footer {
		--footer-text-color: var(--clr-neutral-400);
	}

	.page-footer__buttons {
		.btn {
			--btn-bg: var(--clr-neutral-800);
			--btn-clr: var(--clr-neutral-100);
			--icon-color-1: var(--clr-neutral-100);
			--icon-color-2: var(--clr-neutral-100);
		}
	}
}
