// ---------------------------------------------
// ======---------------------------------======
//  Page Header
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

// ====---------------====
// Base
// ====---------------====
#page-header {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: var(--step--1) var(--step-0);
	align-items: center;
	justify-content: space-between;

	> a {
		font-size: var(--step-2);
		font-weight: 700;
		text-decoration: none;
	}
}
