// ---------------------------------------------
// ======---------------------------------======
//  Base structuring
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

.flow {
	> * + * {
		margin-block-start: var(--space-s);
	}

	:where(h1, h2, h3, h4, h5, h6) + p {
		margin-block-start: var(--space-3xs);
	}
}

html {
	height: 100vh;
}

body {
	--page-height: 100%;
	--header: var(--header-height, auto);
	--footer: var(--footer-height, auto);
	--logo-width: #{flClamp(152, 311)};
	--grid-cols: var(--page-wrapper-pad) 1fr var(--page-wrapper-pad);
	--grid-rows: var(--header) 1fr 1fr var(--footer);

	height: 100%;
	overflow: hidden;

	@media (max-height: 650px) {
		--page-height: calc(100vh - 78px);
		// --footer: 200;
	}
}

body:has(.section-simple[data-in-view="true"]) {
	@media (max-height: 650px) {
		--footer: var(--footer-height, auto);
	}
}

.page-wrapper {
	height: 100%;

	overflow-y: scroll;
	scrollbar-width: none;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

// ====---------------====
// Page grid
// ====---------------====
.page-grid {
	--page-height: 100vh;
	--header: var(--header-height, auto);
	--footer: var(--footer-height, auto);
	--logo-width: #{flClamp(152, 311)};
	--grid-cols: var(--page-wrapper-pad) 1fr var(--page-wrapper-pad);
	--grid-rows: var(--header)
		calc((var(--page-height) - var(--header) - var(--footer)) / 2)
		calc((var(--page-height) - var(--header) - var(--footer)) / 2)
		var(--footer);
	width: 100%;
	height: var(--page-height);
	max-height: var(--page-height);

	display: grid;
	grid-template-columns: var(--grid-cols);
	grid-template-rows: var(--grid-rows);
	gap: 0;

	@include tablet-min {
		--header: calc(var(--header-height, auto) + var(--page-wrapper-pad));
		--grid-cols: var(--page-wrapper-pad) 1fr var(--logo-width)
			var(--page-wrapper-pad);
		--grid-rows: var(--header) calc(100vh - var(--header) - var(--footer))
			var(--footer);
	}
}

.page-header {
	grid-column: 2;
	grid-row: 1;
	min-height: 100px;
	max-height: 140px;
	display: grid;
	justify-content: end;

	position: relative;
	z-index: 200;
	padding-block-start: flClamp(16, 48);

	@media (max-height: 650px) {
		min-height: 70px;
	}

	svg {
		--icon-color-1: var(--clr-neutral-100);
		width: var(--logo-width);
		height: auto;
		object-fit: contain;
		color: var(--icon-color-1);
		transition: color 0.1s ease-in;
	}
}

#main-content {
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: none;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;

	position: relative;
	z-index: 100;

	grid-column: 1 / -1;
	grid-row: 1 / -1;

	@include tablet-min {
		height: 100vh;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}

.page-footer {
	--footer-text-color: var(--clr-neutral-400);
	grid-column: 1 / -1;
	grid-row: 4;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: rem(24);

	padding-block-end: flClamp(20, 30);

	position: relative;
	z-index: 200;

	color: var(--footer-text-color);
	font-size: var(--step--2);

	@include tablet-max {
		grid-row: 4;

		p {
			margin-block-start: 3rem;

			grid-column: 1;
			grid-row: 2;
		}
	}

	@media (max-height: 650px) {
		p {
			margin-block-start: 1rem;
		}
	}
}

.page-footer__buttons {
	display: grid;
	justify-content: center;
	gap: rem(10);
	grid-column: 1;
	grid-row: 1;

	@include tablet-min {
		display: flex;
		justify-content: center;
		gap: rem(24);
	}
}
