// ---------------------------------------------
// ======---------------------------------======
//  Wrappers
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/functions" as *;
@use "../functions/mixins" as *;

.wrapper {
	padding-block: var(--page-wrapper-pad) 0;
	padding-inline: var(--wrapper-fluid);
}

.wrapper-block {
	padding-block: var(--page-wrapper-pad, var(--space-m));
}

.wrapper-inline {
	padding-inline: var(--wrapper-fluid);
}
